<html>
  <head>
    <title>Add Student</title>
 </head>
	{% include 'tabHeadings.html' %}
  <body>
      <center>
          <h1 >Add Student</h1>
      </center>
        <form  action="" method=post>
			<label for="fname"> Student First Name:</label>
			<input type="text"   placeholder="First Name" name="firstName" value="{{ request.form.firstName }}"><br><br> 

			<label for="fname">Student Last Name:</label>
            <input type="text"  placeholder= "Last Name" name="lastName" value="{{ request.form.lastName }}"><br><br>
			
            <label for="fname">Start Date:</label>
            <input type="text"  placeholder= "Start Date" name="startDate" value="{{ request.form.startDate }}"><br><br>
			
            <input id = "login"  type="submit" value="Add Student">
        </form>

         <p>*Note: Unique Students will only be added</p>  
            {% if success %}
          <h2><strong>Success:</strong> {{ success }} </h2>
                   {% endif %}
  </body>
</html>

