<!DOCTYPE html>
<html>
    <head>
	{% include 'tabHeadings.html' %}
        <center>
            <title>Instructor Menu</title>
            <h1> Instructor Menu</h1>
        </center>

    </head>
    <body>
        <center>
            <form style="display:inline-block;" action="{{url_for('findStudent')}}" >
                    <input id = "findStudent" type =  "submit" value = "Find Student">
            </form>
            
            <form style="display:inline-block;" action="{{url_for('addStudent')}}">
                <input id = "addStudent" type = "submit" value = "Add Student"> 
            </form>
            
            <form style="display:inline-block;" action="{{url_for('testingMonth') }}">
                <input id = "testingMonth" type = "submit" value = 
                "Testing Month List">
            </form>
            
            <form style="display:inline-block;">
                <input id = "instructorSchedule" type = "submit" value = 
                        "Instructor Schedule">
            </form>

        </center>
    </body>

    <script>
    </script>

</html>
