<html>
  <head>
    <title>Testing Month</title>
  </head>
	{% include 'tabHeadings.html' %}

  <body>
      <center>
          <h1 >Generate Testing Month</h1>
      </center>
        <form  action="" method=post>
			<label for="fname"> Date(yyyy-mm-dd):</label>
			<input type="text"   placeholder="yyyy-mm-dd" name="date" value="{{ request.form.date }}"><br><br> 

			
            <input id = "login"  type="submit" value="Generate Month">
        </form>

         {% if status %}
         <p style="font-size:22px"> {{ status }} <strong> {{ date }} </strong> </p>
         {% endif %}

  </body>

