<html>

  <head>
    <title>Inventory</title>
    
    {% include 'tabHeadings.html' %}
  </head>

  <body>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src="{{ url_for('static', filename='buttonPlusOrMinus.js') }}"></script>
    

    <center>
      <h1>Inventory </h1>
    </center>

    <form action="" method="post">
    <label>Item: </label>

    <select name="colHeading" id="colHeading" style="width: 300px;">
      {% for x in range(colHeading|length) %}
          {% if currentUserSelection == colHeading[x] %}
            <option value="{{ colHeading[x]}}" selected> {{colHeading[x]}} </option>
          {% else %}
            <option value="{{ colHeading[x]}}"> {{colHeading[x]}} </option>
          {% endif %}

      {% endfor %}
    </select>
    
    <input id = "submitButton" name = "submitButton"  type="submit" value="Get Info">
    
    <input type="text"  id="headerName" name="headerName" placeholder="Enter Header Name" value="">
    <input id = "submitButton" name = "submitButton" type="submit" value = "Create New Heading">

    <br>
    <br>
    {% if info %}
       
	<table border = 1 style="">
        {% for x in range(info|length ) %}
        <tr>
            {% set item = info[x].split('-') %}
            <th> <textarea type = "text" id = "itemName-{{x+1}}" name = "itemName-{{x+1}}" value>{{ item[0] }}</textarea></th>
            
            <!--
            <td><textarea style="resize: none;height: 25;" name="{{ x+1 }}">{{ item[1] }} </textarea> </th>
            -->
            <td>  <button type="button" id="sub" class="sub">-</button>
                  <input type="text" id="quantity-{{x+1}}" name = "quantity-{{x+1}}" value="{{ item[1] }}" class="field"  style = "width: 60px;"/>
                  <button type="button" id="add" class="add">+</button>
            </th>

        </tr>
        {% endfor %}
    </table>
    
    {% endif %}
    <!--
       Add Items 
    -->
       
        <label>Enter Item: </label>
        <br>
        <textarea id = "itemText" name= "itemText" value=""></textarea>
        
        <input id = "submitButton" name = "submitButton"  type="submit" value="Enter Items">
   
        <br>
        <br>
        <br>
        <input id = "submitButton" name = "submitButton" type = "submit" value = "Save">

    </form>
  </body>
   <script>
          $('.add').click(function () {
          $(this).prev().val(+$(this).prev().val() + 1);
      });
      $('.sub').click(function () {
          if ($(this).next().val() > 0) $(this).next().val(+$(this).next().val() - 1);
      }); </script>
</html>
