<html>
  <head>
    <title>View Student</title>
  {% include 'tabHeadings.html' %}
  </head>
  <body>
      <center>
          <h1 >{{ firstName}} {{ lastName }}</h1>
      </center>
    
      <form action="" method=post>
      <table border = 1 style="float: left;">
        {% for x in range(colHeading|length -1) %}
        <tr>
            <th style="text-align: left"> {{ colHeading[x] }} </th>
            {% if x <= 2 %}
                {% if x == 1 %}
                <td> {{ firstName }} </th>
                {% elif x == 2 %}
                <td> {{lastName}} </th>
                
                {% else %}
                <td > {{info[x] }} </th> 
                {% endif %}
            {% else %}
            <td> <input type="text"  size="30" name="{{ colHeading[x] }}" value="{{info[x] }}" > </th>
            {% endif %}
        </tr>
        {% endfor %}
      </table>
          <table border = 1>
              <tr>
                  <td> <h2> Login Time stamps </h2> </th>
              </tr>
              <tr>
                  <td><textarea style="overflow-y: scroll;height: 350px;resize: none;" id = "timeTextArea" readonly>{% for login in loginInfo %}{{ login }}
                          {% endfor %}
                      </textarea>
                </th>
                <tr>
          </table>
<input id = "save" type="submit" value="Save"> 

      </form>
           <input type="text" id="findTime" >
          <input id = "buttonTextArea" type = "submit" onclick="findTimeStamp()" value = "Find"> 

           <br>
          <br>
       
      {% if success %}
            <h2><strong>Success:</strong> {{ status }} </h2>
      {% endif %}
       
      <script>
          function findTimeStamp(){
              var timeTarget = document.getElementById('findTime').value;
              var findText = document.getElementById('timeTextArea').value;
              
              var textArray  = findText.split("\n").filter(Boolean); 
              var results = (textArray.indexOf(timeTarget) > -1);
            console.log(findText.split("\n").filter(Boolean));
              console.log(results);
          }
      </script>

  </body>

</html>

